.colors {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.color {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  margin: 5px;
}

#color-fff {
  background-color: #fff;
}

#color-000 {
  background-color: #000;
}

#color-1100ff {
  background-color: #1100ff;
}

#color-ff0000 {
  background-color: #ff0000;
}

#color-ffff00 {
    background-color: #ffff00;
}

#color-aquamarine {
    background-color: aquamarine;
}

#color-green {
  background-color: green;
}

.picture {
    border: 2px solid black; 
}

.pictures {
  display: none;
}

path {
    border: 2px solid black;
}

.second-picture {
  max-width: 700px;
  max-height: 500px;
}